.videoPageContainer {
     margin: 100px 20px 20px;
  }
  .section_watch_top{
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  .section_watch_bottom{
    border: 1px solid red;
    grid: inherit;

  }
  .section_watch_bottom_recommendations{
    margin: 20px 0;
    // width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    position: relative;
    gap: 10px;
    justify-content: space-between;
  }
  
  .videoSection {
    // height: 100%;
    width: 100%;
    display: flex;
    // padding:  0 20px;
  }
  .videoSection_header {
    height:100%;
    width: inherit;
    background-image: url('../public/assets/channels4_profile.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .videoSection_header_overlay {
    height: inherit;
    width: inherit;
    background: repeat padding-box border-box 0% / auto scroll
        linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(33, 33, 41, 0.95) 88%),
      repeat padding-box border-box 50% 50% / 100% 100% scroll
        linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212129 62%);
    position: relative;
  }
  .videoPlayerContainer {
    // position: absolute;
    // bottom: 0;
    // margin: 20px;
    // background-color: #000;
  
  }
  .videoPlayer {
    // height: 675px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .videoPlayer_description {
    /* // height: 100px; */
    overflow: hidden;
  }
  .videoPlayer_description_author {
    display: flex;
  }
  .channelAvi {
    height: 25px;
    width: 25px;
    background-color: #333;
    border-radius: 20px;
    margin: auto 0;
    margin-right: 20px;
  }
  .videoPlayer_description_author_title {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
  }
  .videoPlayer_description_author_title  span:nth-child(2){
    font-size: .9rem;;
  }
  .commentSection {
    padding: 20px;
    text-align: start;
    border-top: 0.5px solid rgba($color: #cccc98, $alpha: .2);
  }

  .description{
    color: #eee;
    font-size: .9rem;
    width: 100%;
  }
  
  .sideSection {
    width: 600px;
    // margin: 0 20px;
    // border: 1px solid red;
    // padding: 20px;
    background-color: rgba($color: #000, $alpha: .2);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr;
    position:relative;
    // overflow: hidden;
  }
  .comments_sections{
    // border: 1px solid red;
    position: relative
  }
  .comments_section_top{
    padding: 10px;  
    // height: 50px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgba($color: #000, $alpha: .2);
  }
  .comments_section_top span{
    width: 100%;
    // border: 1px solid red;
  }
  .comment_section_middle{
    position: absolute;
    top: 0px; 
    bottom: 0px;
    right: 0px; 
    left: 0px;
    margin: 10px;
  
    margin-top: 50px;
    font-size: small;
  }
  .comment_item_container{
    border: 1px solid #212129;
    background-color:rgba($color: #000, $alpha: .1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
  }
  .comments_section_bottom{
    // height: 100px; 
    width: auto;
    background-color: rgba($color: #000, $alpha: .2);
  }
  .comments_section_bottom button{
    color: #cccc98; 
    border: 1px solid rgba($color: #cccc98, $alpha: .2);
    padding: 5px 10px;
    // margin-right: 10px;;
    border-radius: 5px;
  }
  .comments_section_bottom input{
    padding: 5px 20px;
    width: 89%;
    border-radius: 5px;
    border: 0;
  }
  .comments_section_bottom_inputSection{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .comments_section_bottom_actions{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .user_header{
    // height: 30vh;
    width: 100%;
    border-radius: 10px;;
    padding: 20px;
    background-color: #333;
    margin-top: 20px;
  }
  .user_header_avi_container{
    // height: 200px; 
    width: 200px;
    text-align: center;
    // border-radius: 50%;
    margin: auto;
    

  }
  .user_header_avi{
    height: 200px; 
    width: 200px;
    background-color: #212129;
    border-radius: 50%;;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-position: center;
  }